.navbar {
    margin: 0;
}

.btn {
    margin: 5px;
}

.project .panel-title {
    font-size: 20px;
}

.team .panel-heading {
    background-color: #777;
}

.team .panel-title {
    font-size: 16px;
}